    <script>#!groovy
def userInput
def sourceFile
def targetHost
def targetDir

timeout (time: 2, unit: &apos;MINUTES&apos;) {

    userInput = input(
      id: &apos;userInput&apos;, message: &apos;Enter scp test parameters&apos;, parameters: [
      [$class: &apos;TextParameterDefinition&apos;, defaultValue: &apos;&apos;, description: &apos;Source file&apos;, name: &apos;sourceFile&apos;],
      [$class: &apos;TextParameterDefinition&apos;, defaultValue: &apos;&apos;, description: &apos;Target host&apos;, name: &apos;targetHost&apos;],
      [$class: &apos;TextParameterDefinition&apos;, defaultValue: &apos;&apos;, description: &apos;Target directory&apos;, name: &apos;targetDir&apos;]])

    sourceFile = userInput[&apos;sourceFile&apos;]
    targetHost = userInput[&apos;targetHost&apos;]
    targetDir = userInput[&apos;targetDir&apos;]
}

node {

  timestamps {

    UTILITIES = load(&quot;/hj/scripts/utilities.groovy&quot;)

    UTILITIES.scp (sourceFile, targetHost, targetDir)
    println &quot;&quot;&quot;Successfully copied file:
      \tSource file: ${sourceFile}
      \tTarget host: ${targetHost}
      \tTarget directory: ${targetDir}&quot;&quot;&quot;

    println UTILITIES.ssh (targetHost, &quot;ls -all ${targetDir}&quot;)
  }

}</script>
