<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.16">
  <actions>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@2.16">
      <jobPropertyDescriptors>
        <string>jenkins.model.BuildDiscarderProperty</string>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.42">
    <script>#!groovy
def userInput

timeout (time: 1, unit: &apos;MINUTES&apos;) {
    userInput = input (
    message: &apos;Which host/ip do you want to connect to?&apos;,
    parameters: [[$class: &apos;TextParameterDefinition&apos;, description: &apos;&apos;, name: &apos;hostnameOrIp&apos;]]
  )
}

node {

  timestamps {

    UTILITIES = load(&quot;/hj/scripts/utilities.groovy&quot;)

    def hostName = UTILITIES.ssh(&quot;${userInput}&quot;, &quot;sudo hostname&quot;).trim()
    println &quot;Successfully connected to ${hostName}.&quot;

  }

}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>